.DS_Store
*.log
*.swp
*.lock
*.pem
npm-debug.log
\.idea/
\.cache/
node_modules/
coverage/
doc/
logs/
**/.vscode/sftp.json

**/dist/*
TODOs.md
RELEASE_NOTE*.md

\.parcel-cache
coverage
\.nyc_output/
cypress/videos/
cypress/screenshots/
__pycache__/

.env
**/envs/*.env
*.local

packages/*/src/**/*.map
